@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
	margin: 0;
	position: relative;
	height: 100%;
	background-color: #ecedee;
}

.content_menu {
	clear: both; /*  */
	position: relative;
	width: 100%;
	height: 5%;
	background-color: #edeff3;
	border-bottom: 1px solid #cccccc;
	background-color: #edeff3;
}

.menu_name {
	position: relative;
	text-align: center;
	font-size: 2.0vw;
	font-weight: 500;
	color: black;
	border-bottom: 2px solid black;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 1%;
	margin-top: 2%;
}

.content_border {
	position: relative;
	width: 100%;
	height: 90%;
	background-color: #ecedee;
}

.content_info {
	width: 96%;
	background-color: white;
	margin: 2%;
}

.page_title {
	position: relative;
	width: 100%;
	margin-top: 2%;
	font-size: 2vw;
	color: black;
	font-weight: 800;
	text-align: center;
}

.page_info {
	font-size: 1.5vw;
	color: black;
	font-weight: 500;
	text-align: center;
	margin-top: 2%;
}

.card_container {
	width:100%;
	margin-top:3%;
}

.card_slide {
	width:100%;
	
}
.card_pic, .card_pic_plus {
	float:left;
	width: 40%;
	margin-left:30%;
	opacity: 0.3;
	margin-bottom:3%;
	margin-top:3%;
}

.card_pic img, .card_pic_plus img {
	width: 60%;
	margin-left:25%;
	margin-right:25%;
}
.card_make_cont{
	width:50%;
	float:left;
	display:none;
	padding-top:2%;
	
}

.card_cont {
	width: 40%;
	padding-bottom: 5%;
	text-align: center;
}

.card_cont_wrap {
	margin-top: 3%;
	font-size: 1vw;
	width: 90%;
	margin-left: 10%;
}

.card_info {
	width: 20%;
	height: 100%;
	font-size: 1.2vw;
	display: inline-block;
}

.card_delete{
	width:20%;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 1.2vw;
	padding: 1%;
	margin-left:13%;
	margin-top:5%;
}

.card_confirm {
	width: 20%;
	display: inline-block;
	text-align: center;
	background-color: #242c34;
	color: white;
	font-size: 1.2vw;
	padding: 1%;
	margin-top:5%;
	margin-left:13%;
}

.card_cancel{
	width: 20%;
	display: inline-block;
	text-align: center;
	background-color: white;
	color: black;
	font-size: 1.2vw;
	font-weight:800;
	padding: 1%;
	margin-top:5%;
	margin-left:13%;
}
