@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
   margin: 0;
   position: relative;
   height: 100%;
   width: 100%;
   background-color: #edeff3;
}

.total_wrap {
   width: 100%;
   height: 100%;
}

.content_menu {
   position: relative;
   width: 100%;
   background-color: #edeff3;
   border-bottom: 1px solid #cccccc;
}

.menu_name {
   text-align: center;
   font-size: 2vw;
   font-weight: 500;
   color: black;
   border-bottom: 2px solid #cccccc;
   display: inline-block;
   margin-left: 10px;
   margin-bottom: 1%;
   margin-top: 2%;
}

.report_wrap {
   position: relative;
   width: 100%;
   height: 100%;
   background-color: #edeff3;
}

.report_sub_wrap {
   position: relative;
   width: 90%;
   height: 90%;
   margin-left: 5%;
}

.team_wrap {
   width: 100%;
   height: 80%;
   margin-top: 10%;
}

.team_name {
   position: relative;
   width: 30%;
   height: 25%;
   margin: 0 auto;
   text-align: center;
   display:table;
}

.team_back {
   position: relative;
   margin: 0 auto;
   z-index: 2;
   vertical-align: middle;
   background-color:#edeff3;
   display:table-cell;
}

.team_title {
   position:absolute;;
   width: 100%;
   top:45%;
   z-index: 100;
   font-size: 2vw;
   display:table-cell;
}

.team_head {
   width: 100%;
   height: 90px;
   font-size: 10px;
}

.head_member {
   width: 20%;
   height:90%;
   text-align: center;
   margin: 0 auto;
   border-top: 3px solid #0084ff;
   font-size: 1.5vw;
   margin-top:1%;
}

.team_sub_head {
   width: 100%;
   height: 90px;
   font-size: 10px;
}

.head_sub_member {
   width: 20%;
   height: auto;
   text-align: center;
   margin: 0 auto;
   border-top: 3px solid #0084ff;
}

.team_consistance {
   width: 100%;
   height: 90px;
   font-size: 10px;
}
.team_consistance:last-child
{
   width: 100%;
   height: 13%;
   font-size: 1.5vw;
   margin-bottom:10%;
}
.team_member {
   width: 20%;
   height: auto;
   text-align: center;
   float: left;
   display: inline-block;
   border-top: 3px solid #0084ff;
   font-size: 1.5vw;
}
.last_mem
{
   border-bottom:3px solid #0084ff;
}
.team_member:first-child {
   margin-left: 20%;
}

.team_member:last-child {
   margin-right: 20%;
}
.name{
   font-size:15px;
   margin-top:5px;
   margin-bottom:5px;
}
.position{
   font-size:15px;
   margin-top:5px;
   margin-bottom:5px;
}
.job{
   font-size:15px;
   margin-top:5px;
   margin-bottom:5px;
}

/* s */
.mini_wrap
{
   display: table;
    float: right;
    width: 12%;
    /* height: 100%; */
    margin-right: 2%;
    color: white;
    background-color: gray;
    border-radius: 5px;
    font-size: 1vw;
    text-align: center;
}
.mini_menu
{
   height: 40%;
    padding: 5%;
    font-size: 1.5vw;
    float: left;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: table-cell;
}
.mini_side
{
   width: 30%;
    /* height: 100%; */
    /* display: inline-block; */
    float: left;
    display: table-cell;
}
.mini_side img
{
    width: 100%;
    padding: 17%;
}